
mat-sidenav{
    margin: 5px;
    width: 300px;
    background-color: #673ab7;
    color: rgb(251, 251, 251);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
 
 }
 
 
 mat-sidenav-container{
    margin-top: auto;
    height: calc(100vh - 5px);
 }
 .menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    padding-top: 10px;
 }
 
 .menu{
    justify-content: left;
 }
 mat-icon{
    width: 45px;
 }
 