<ng-template [ngIf]="!_auth.isauthenticated()">
  <mat-toolbar class="menu" color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>Institution Information
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" opened>
      <button mat-button class="menu-button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button><br>
      <button mat-button class="menu-button" (click)="onlogin()">
        <mat-icon> login</mat-icon>
        <span>Login</span>
      </button><br>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>


</ng-template>
<ng-template [ngIf]="_auth.isauthenticated()">
  <mat-toolbar class="menu" color="primary">
    <button mat-icon-button (click)="toggle(sidenav)">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>Menu
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">

      <button mat-button class="menu-button" routerLink="/homein">
        <mat-icon> home</mat-icon>
        <span>Home</span>
      </button><br>
      <button mat-button class="menu-button" routerLink="/institution">
        <mat-icon>school</mat-icon>
        <span>Add Insititution</span>
      </button><br>

      <button mat-button class="menu-button" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button><br>


    </mat-sidenav>
    <mat-sidenav-content>

      <div class="content">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


</ng-template>
